<h2><%= l(:label_update_deliverable) %></h2>
<%= form_for @deliverable, :as => :deliverable, :url => {:controller => 'deliverables', :action => 'update', :id => @project, :deliverable_id => @deliverable.id },
                           :method => :put, :builder => Redmine::Views::LabelledFormBuilder, :lang => current_language,
                           :html => {:multipart => true, :id => 'deliverable-form', :class => 'tabular'} do |f| %>

  <%= render :partial => 'form', :locals => { :mode => :update, :f => f } %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "budget.css", :plugin => "redmine_budget", :media => "screen" %>
  <%= javascript_include_tag('budget', :plugin => 'redmine_budget') %>
<% end %>
